/*======================
記述ルール
======================*/

/*　ルール１　プロパティの並び順

１．位置関係  = position,flex,top,right,left,display,float
２．サイズ    = widht, height,padding, marign
３．文字系    = font, text-align, line-height, letter-spacing, color
４．背景      = background, border
５．その他    = animation, opacity, transition等

　　ルール２　インデント
１．クラス名と鉤括弧の間に１スペース
２．青文字のプロパティはエンター押したときのデフォのスペース（クラス名より２スペース内側）
３．値は１スペースの後に書き始める
４．ルール度に基本１行あける

*/

.example,
.example1 {
  display: block;
  float: left;
  width: 16.6%;
  height: 70px;
  padding: 0 0 10% 0;
  margin: 0 auto;
  font: 400 14px 'open sans',sans-serif;
  color: #333;
  line-height: 20px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  border-bottom:2px solid #ddd;
}

/*　ルール３　IDの使用
１．CSSのスタイリングでは柄はない。
2. JSでマーキングしたい時や、内部リンクでマーキングしたい時に使う
*/

/*　ルール４　例外
１．プロパティが１つしかなく、その同類が多いときは１列に書く
 →まとめて書いてあげたほうが見やすくなるのと整理しやすくなる
*/
.example  { background: url(example.png) no-repeat center center; }
.example1 { background: url(example.png) no-repeat center center; }

/* ルール５　メディアCSSの区分け
１．各Section直下に書いていく
*/

/*==============
共有
================*/
* {
  padding: 0;
  margin: 0;
}
a {
  color:#ffffff;
  text-decoration:none;
}
li {
  display:inline;
  list-style: none;
}
body {
  color: #fff;
  font-family: 'Avenir';
  background-color: #062750;
  text-align: center;
}

/*　文字サイズ　*/
h1 { font-size: 58px; }
h2 { font-size: 40px; }
.textS   { font-size: 16px; }
.textM   { font-size: 30px; }
.textL   { font-size: 58px; }
.textSub { font-size: 25px; }

/*　文字色　*/
.fc-white   { color: #fff; }
.fc-black   { color: #000; }
.fc-indigo  { color: #093768; }  
.fc-skyblue { color: #3696F4; }
.fc-orange  { color: #AC210C; }

/*　要素間隔　*/
.spaceS { padding-bottom: 20px; }
.spaceM { padding-bottom: 60px; }
.spaceL { padding-bottom: 80px; }
.spaceTL { padding-top: 80px; }

.fw-bold { font-weight: bold; }

/*　背景色　*/
.bc-white   { background-color: #fff; }
.bc-Dindigo { background-color: #093768; } /* Serviceの背景色 */
.bc-indigo  { background-color: #093569; } /* Portfolioの背景色 */
.bc-skyblue { background-color: #3696F4; }
.bc-gray    { background-color: #3C3939; }
.bc-orange { background-color: #AC210C; }
.bc-DDindigo { background-color: #020424; }
.bc-bluegradate { background: linear-gradient(0.25turn, #18D0CA, #11CBCE, #1EBAD6, #23B2E4, #349FEE, #3792F7); } /* Aboutの背景色 */

/*　背景画像　*/
.bg-web   { background: url(img/icon/web.png) center center; }
.bg-creat { background: url(img/icon/creative.png) center center; }
.bg-activ { background: url(img/icon/activity.png) center center; }
/* 背景画像　Portfolio */
.bg-Lab89 { background: url(img/portfolio/Lab89.png) center center; }
.bg-hero  { background: url(img/portfolio/hero.png) center center; }
.bg-k2m   { background: url(img/portfolio/k2m.png) center center; }
.bg-plus  { background: url(img/portfolio/plus.png) center center; }
.bg-shoespicks { background: url(img/portfolio/shoespicks.png) center center; }
.bg-ana   { background: url(img/portfolio/ana.png) center center; }


.bg-web,
.bg-creat,
.bg-activ,
.bg-Lab89,
.bg-UIUX,
.bg-hero,
.bg-k2m ,
.bg-plus,
.bg-shoespicks,
.bg-ana { background-size: cover !important; }

.textS { font-size: 16px; }
.textM { font-size: 30px; }
.textL { font-size: 58px; }
.textSub { font-size: 25px; }

/* ボタン */
.btn {
  width: 230px;
  text-align:center;
  padding: 12px 0 12px 0;
  border-radius:80px;
  display: inline-block;
}

.btn-width {width: 230px;}

.btn-padding{padding: 80 0}

.right-vector{padding:0 12px }

.S1-sec,
.P1-sec {
  height: 530px;
}

/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
@media screen and (max-width: 768px) {
　
}
@media screen and (max-width: 375px) {

}

/*==============
HumbergerMenu All
================*/
/* PCサイズ用コード */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 998;
  transition: width .2s;
}

.menu--isOpen { width: 100vw; }/* メニューの範囲 */

.menu__button {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  z-index: 999;
  background-color: rgb(255, 255, 255, 0);
  border-radius: 5px;
  border: none;
}

.menu span {
  display: block;
  width: 80%;
  margin: auto;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: calc((100% - 4px)/2);
  border-radius: 3px;
  transition: .2s;
}

.menu__lineTop { transform: translateY(-10px); }
.menu__lineMiddle {}
.menu__lineBottom { transform: translateY(10px); }
.menu--isOpen .menu__lineTop { transform: rotate(45deg); }
.menu--isOpen .menu__lineMiddle { opacity: 0; }
.menu--isOpen .menu__lineBottom { transform: rotate(-45deg); }

.underline {
  width: 64px !important;
  height: 0px;
  border: solid #fff 2px;
  display: inline-block;
}

.menuContainer {
  width: 24.71vw;
  height: 100vh;
  display: inline-block;
}

.menuContainer :hover {
  width: 28vw;
  background: url(img/bg/menu-gradation.png);
  background-size: cover;
  z-index: 20;
  transition: .4s;
}

.menuBox {
  width: 24.71vw;
  height: 100vh;
  display: inline-block;
  text-align: center;
  position: relative;
}

.menuContent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.menuBox :hover { background: rgb(255, 255, 255, 0) !important; }


/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 375px) {

}

/*==============
Footer All
================*/
/* PCサイズ用コード */
footer {
  width: 100%;
}
.bg-footerLogo {
  position: relative;
  top: -5rem;
  left: 47%;
  width: 68px;
  height: 87px;
  margin-top: 80px;
  background: url(img/icon/einja-footerLogo.png);
  background-size: cover;
}

.footer-logo {
  display: block;
  width: 168px;
  height: auto;
  margin: 0 auto;
}
.footer-lists {
  text-align: center;
}
.footer-lists a {
  transition: ease .5s;
}
.footer-lists li:hover a{
  color: #000;
}

/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 375px) {

}

/*========================================*/
/*===　INDEX.html（Topページ）のスタイル　===*/
/*========================================*/

/*==============
Top  Index 
================*/
/*===============　井口イジり中　=================*/
/* H1 Einjaのスタイル */
.T1-h1 {
  width: 275.98px;
  height: 103.63px;
}


/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 375px) {

}

/*==============
Concept  Index.html
================*/
/* PCサイズ用コード */


/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 375px) {

}

/*==============
Service  Index.html 
================*/
/* PCサイズ用コード */
.T-Container {
  width: 17.2vw;
  height: 172px;
  margin: 0 auto;
}
/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 375px) {

}

/*==============
Portfolio  Index.html
================*/
/* PCサイズ用コード */
.T4-slider-container {
  padding: 0 188px;
}

/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
@media screen and (max-width: 768px) {
  .T4-slider-container {
    padding: 0;
  }
}
@media screen and (max-width: 375px) {

}
/*==============
About  Index.html
================*/
/* PCサイズ用コード */


/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 375px) {

}

/*=========================================*/
/*=== SERVICE.html のスタイル　==============*/
/*=========================================*/
.flex-container {
  display: flex;
  font-weight: bold;
}
.h2-icons {
  position: relative;
  top: -10px;
  width: 80px;
  height: 70px;
  margin: 0px 20px 0 0;
}
.S-Box {
  width: 182px;
  height: 159px;
  border-radius: 70% 70% 30% 30% / 80% 80% 60% 60%;
  margin: 0 auto;
}
.S-texBox {
  width: 225px;
  margin: 0 auto;
}
.bg-UIUX { background: url(img/service/layout.png) center center; }

/*===========================================*/
/*=== PORTFOLIO.htmlのスタイル　===============*/
/*===========================================*/

/*==============
Tab Bar
================*/
.tabs{
  position: relative;
  width: 80vw;
  margin: 7% auto 0;
  text-align: left;
}

.tab-buttons {
  position: relative;
}

.tab-buttons:after {
  content: "";
  position: absolute;
  top: 40px;
  display: block;
  width: 100%;
  height: 35px;
  background-color: #fff;
  border-radius: 50px;
}

.tab-buttons span{
  color: #fff;
  cursor: pointer;
  /*border-bottom: 20px solid #ddd;*/
  display:block;
  width: 25%;
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.tab-content{
  position: relative;
  top: 20px;
  display: inline-block;
  padding: 15px;
}

#lamp{
  position: absolute;
  top: 40px;
  width: 25%;
  height: 35px;
  display: block;
  border-radius: 50px;
  background-color: #3696F4;
  z-index: 1;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content1{
  left: 0;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content2{
  left: 25%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content3{
  left: 50%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content4{
  left: 75%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}


/*==============
WEB  portfolio.html
================*/
/* PCサイズ用コード */
.P1-sec > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.P-Wrap { display: flex; }
.P-Box {
  width: 36vw;
  height: 25vh;
}
.P-bgContainer {
  width: 33.5vw;
  height: 33.5vh;
}
.P-Container { padding-right: 4.7vw; }

/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
   @media screen and (max-width: 768px) {

  }
  @media screen and (max-width: 375px) {
  
  }

/*=======================================*/
/*=== ABOUT.html のスタイル　==============*/
/*=======================================*/













