/*======================
記述ルール
======================*/

/*　ルール１　プロパティの並び順

１．位置関係  = position,flex,top,right,left,display,float
２．サイズ    = widht, height,padding, marign
３．文字系    = font, text-align, line-height, letter-spacing, color
４．背景      = background, border
５．その他    = animation, opacity, transition等

　　ルール２　インデント
１．クラス名と鉤括弧の間に１スペース
２．青文字のプロパティはエンター押したときのデフォのスペース（クラス名より２スペース内側）
３．値は１スペースの後に書き始める
４．ルール度に基本１行あける

*/

.example,
.example1 {
  display: block;
  float: left;
  width: 16.6%;
  height: 70px;
  padding: 0 0 10% 0;
  margin: 0 auto;
  font: 400 14px 'open sans',sans-serif;
  color: #333;
  line-height: 20px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  border-bottom:2px solid #ddd;
}

/*　ルール３　IDの使用
１．CSSのスタイリングでは柄はない。
2. JSでマーキングしたい時や、内部リンクでマーキングしたい時に使う
*/

/*　ルール４　例外
１．プロパティが１つしかなく、その同類が多いときは１列に書く
 →まとめて書いてあげたほうが見やすくなるのと整理しやすくなる
*/
.example  { background: url(example.png) no-repeat center center; }
.example1 { background: url(example.png) no-repeat center center; }

/* ルール５　メディアCSSの区分け
１．各Section直下に書いていく
*/

/*==============
共有
================*/
* {
  padding: 0;
  margin: 0;
}
a {
  color:#ffffff;
  text-decoration:none;
}
li {
  display:inline;
  list-style: none;
}
body {
  color: #fff;
  font-family: 'Avenir';
  background-color: #062750;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*　文字サイズ　*/
h1 { font-size: 58px; }
h2 { font-size: 40px; }
.textXS { font-size: 13px; }
.textS   { font-size: 16px; }
.textM   { font-size: 30px; }
.textL   { font-size: 58px; }
.textSub { font-size: 25px; }

/*　文字色　*/
.fc-white   { color: #fff; }
.fc-black   { color: #000; }
.fc-indigo  { color: #093768; }  
.fc-skyblue { color: #3696F4; }
.fc-orange  { color: #AC210C; }
.fc-redgradate {
  color: #ff0135; /* 非対応のブラウザでの文字色を設定 */
  background: -webkit-linear-gradient(147deg, #931d61 9%, #ff0135 36%, #ff911e 81%); /* 背景色にグラデーションを指定 */
  -webkit-background-clip: text; /* テキストでくり抜く */
  -webkit-text-fill-color: transparent; /* くり抜いた部分は背景を表示 */
  }

/*　要素間隔　*/
.spaceS { padding-bottom: 20px; }
.spaceM { padding-bottom: 60px; }
.spaceL { padding-bottom: 80px; }
.spaceTL { padding-top: 80px; }
.LspaceL { margin: 0px 10.69vw}

.fw-bold { font-weight: bold; }

@media screen and (max-width: 768px) {
    h1 { font-size: 35px; }
    h2 { font-size: 30px; }
    .textS   { font-size: 13px; }
    .textM   { font-size: 20px; }
    .textL   { font-size: 35px; }
    .textSub { font-size: 25px; }
    .spaceTL { padding-top: 40px; }
  }

@media screen and (max-width: 414px) {
  h2 { font-size: 40px; }
}

/*　背景色　*/

.bc-black   { background-color: #18191B; }
.bc-white   { background-color: #fff; }
.bc-Dindigo { background-color: #093768; } /* Serviceの背景色 */
.bc-indigo  { background-color: #093569; } /* Portfolioの背景色 */
.bc-skyblue { background-color: #3696F4; }
.bc-gray    { background-color: #3C3939; }
.bc-whitegray    { background-color: #eee; }
.bc-orange { background-color: #AC210C; }
.bc-DDindigo { background-color: #020424; }
.bc-bluegradate { background: linear-gradient(0.25turn, #18D0CA, #11CBCE, #1EBAD6, #23B2E4, #349FEE, #3792F7); } /* Aboutの背景色 */

/*　背景画像_共通　*/
.bg-web   { background: url(img/icon/web.png); }
.bg-creat { background: url(img/icon/creative.png); }
.bg-activ { background: url(img/icon/activity.png); }

/* 背景画像_Top */
.bg-T_rise { background: url(img/bg/T_rise.jpg); }
.bg-T_ALink{ background: url(img/bg/T_ALink.png); }
.bg-T_Bsky{ background: url(img/bg/T_Bsky.png); width: 100vw; height: 50vh; }
.bg-T_mtAlps{ background: url(img/bg/T_mtAlps.png); width: 100vw; height: 50vh; }
.bg-T_cloud{ background: url(img/bg/T_cloud.png); width: 100vw; height: 40vh; }
.bg-T_city{ background: url(img/bg/T_city.png); height: 100vh; }
@media screen and (max-width: 1024px) {
  .bg-T_Bsky, .bg-T_mtAlps {
    height: 20vh;
  }
  .bg-T_cloud {
    height: 10vh;
    position: relative;
    top: -1px;
    z-index: -1;
  }
  .serviceWrapper {
    margin: 0px 16vw 0px !important;
  }
}

/* 背景画像_Service */
.bg-S_sky { background: url(img/bg/S_sky.png); }
.bg-UIUX { background: url(img/service/layout.png); }
.bg-webDesign { background: url(img/service/webDesign.png); }
.bg-app { background: url(img/service/app.png); }
.bg-analy { background: url(img/service/analy.png); }
.bg-seo { background: url(img/service/seo.png); }
.bg-ad { background: url(img/service/ad.png); }
.bg-mante { background: url(img/service/mante.png); }
.bg-movie { background: url(img/service/movie.png); }
.bg-music { background: url(img/service/music.png); }
.bg-reflet { background: url(img/service/reflet.png); }
.bg-card { background: url(img/service/card.png); }
.bg-talking { background: url(img/service/talking.png); }
.bg-dj { background: url(img/service/dj.png); }
.bg-playing { background: url(img/service/playing.png); }
.bg-range { background: url(img/service/range.png); }
.bg-environment { background: url(img/service/environment.png); }
.bg-elements { background: url(img/service/elements.png); }

/* 背景画像_Portfolio */
.bg-P_mtHida { 
  background: url(img/bg/P_mtHida.png) no-repeat center -3%;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .bg-P_mtHida {
    background: url(img/bg/P_mtHida.png) no-repeat center -5%;
    background-size: cover;
    background-color: #fff;
  }
}
@media screen and (max-width: 414px) {
  .bg-P_mtHida {
    background: url(img/bg/P_mtHida.png) no-repeat center 0%;
    background-size: contain;
    background-color: #fff;
  }
}
.bg-P_cloud  { background: url(img/bg/P_cloud.png); }
.bg-Lab89 { background: url(img/portfolio/Lab89.png); }
.bg-hero  { background: url(img/portfolio/hero.png); }
.bg-k2m   { background: url(img/portfolio/k2m.png); }
.bg-plus  { background: url(img/portfolio/plus.png); }
.bg-shoespicks { background: url(img/portfolio/shoespicks.png); }
.bg-ana   { background: url(img/portfolio/ana.png); }
.bg-bts   { background: url(img/portfolio/bts.png); }
.bg-earth { background: url(img/portfolio/movie-earth.png); }
.bg-fish  { background: url(img/portfolio/movie-fish.png); }
.bg-sns   { background: url(img/portfolio/movie-sns.png); }
.bg-tf    { background: url(img/portfolio/movie-tf.png); }
.bg-train { background: url(img/portfolio/movie-train.png); }
.bg-vrwatch{ background: url(img/portfolio/movie-vrwatch.png); }
.bg-remix { background: url(img/portfolio/music-remix.png); }
.bg-kanie { background: url(img/portfolio/music-kanie.png); }
.bg-teachrun { background: url(img/portfolio/teachrun.png); }
.bg-travelDJ { background: url(img/portfolio/travelDJ.png); }

/* 顔面画像_about */
.bg-A_sixman { background: url(img/icon/memberface/BO.png) }
.bg-A_ama { background: url(img/icon/memberface/ama.png) }
.bg-A_igu { background: url(img/icon/memberface/igu.png) }
.bg-A_sota { background: url(img/icon/memberface/sota.png) }
.bg-A_yuta { background: url(img/icon/memberface/yuta.png) }
.bg-A_pochi { background: url(img/icon/memberface/pochi.png) }

/* 背景画像_about */
.bg-A_sky { background: url(img/bg/A_sky.png) }
.bg-facebook { background: url(img/icon/socialicon/f_logo_RGB-Blue_58.png); }
.bg-instagram { background: url(img/icon/socialicon/IG_Glyph_Fill.png); }
.bg-twitter { background: url(img/icon/socialicon/Twitter_Social_Icon_Circle_Color.png); }
.bg-github { background: url(img/icon/socialicon/GitHub-Mark-64px.png); }
.bg-google { background: url(img/icon/socialicon/icons8-google-480.png); }
.bg-youtube { background: url(img/icon/socialicon/youtube_social_squircle_red.png); }



/* Topページ  背景 */
.bg-T_rise, .bg-T_ALink, .T_ALink, .bg-T_Bsky, .bg-T_mtAlps, .bg-T_cloud, .bg-T_city,
/* Topページ  serviceセクション */
.bg-web, .bg-creat, .bg-activ, 
/* Portofolio 背景*/
.bg-P_cloud,
/* Portfolioページ */
.bg-Lab89, .bg-hero, .bg-k2m ,.bg-plus, .bg-shoespicks, .bg-ana, 
.bg-bts, .bg-earth, .bg-fish, .bg-sns, .bg-tf, .bg-train,
.bg-vrwatch, .bg-remix, .bg-kanie, .bg-teachrun,.bg-travelDJ,
/* Service 背景 */
.bg-S_sky,
/* Serviceページ  Icon */
.bg-UIUX, .bg-webDesign, .bg-app, .bg-analy, .bg-seo, .bg-ad, .bg-mante, 
.bg-movie, .bg-music, .bg-reflet, .bg-card,
.bg-talking, .bg-dj, .bg-playing,
.bg-range, .bg-environment, .bg-elements,
/* aboutページ */
.bg-A_sixman, .bg-A_ama, .bg-A_igu, .bg-A_sota, .bg-A_yuta, .bg-A_pochi,
.bg-A_sky, .bg-facebook, .bg-instagram, .bg-twitter, .bg-github, .bg-google, .bg-youtube { 
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}


/* ボタン */
.btn {
  text-align:center;
  padding: 12px 0 12px 0;
  border-radius:80px;
  display: inline-block;
  transition: ease .7s;
}
#Top-page .btn     { border: 1px solid #AC210C; }
#Service-page .btn { border: 1px solid #3696F4; }

.btn-width {width: 230px;}

.btnText{
  text-align: center;
  padding-left: 20px;
}

#Top-page .btn:hover {
  background-color: #fff !important;
}
#Service-page .btn:hover {
  background-color: #3696F4 !important;
}


#Top-page .btn:hover .btnText {
  color: #AC210C;
}
#Service-page .btn:hover .btnText {
  color: #fff;
}

.right-vector { 
  position: relative;
  left: 0;
  padding-left:12px;
  transition: ease .7s;
}

.btn:hover .right-vector {
  left: 5px;
}


  /*==============
  Top Section All
  ================*/
  .T1-Sec,
  .S1-Sec,
  .P1-Sec,
  .A1-Sec {
    height: 645px;
  }

  .T1-Sec > div,
  .S1-Sec > div,
  .P1-Sec > div,
  .A1-Sec > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* スマホ（３７５）
  タブレット（７６８）サイズ用 コード*/
  @media screen and (max-width: 1024px) {
    .T1-Sec,
    .S1-Sec,
    .P1-Sec,
    .A1-Sec {
      height: 700px;
    }
  }

  @media screen and (max-width: 768px) {
    .T1-Sec,
    .S1-Sec,
    .P1-Sec,
    .A1-Sec {
      height: 621px;
    }
  }
  

  @media screen and (max-width: 375px) {
    
  }
  


  /*==============
  HumbergerMenu All
  ================*/
  /* PCサイズ用コード */
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 998;
    transition: width .2s;
    display: flex;
  }
  
  .menu--isOpen { width: 100vw; }/* メニューの範囲 */
  
  .menu__button {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    z-index: 999;
    background-color: rgb(255, 255, 255, 0);
    border-radius: 5px;
    border: none;
  }
  .menu__button:focus { outline: none; }

  .menu span {
    display: block;
    width: 80%;
    margin: auto;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: calc((100% - 4px)/2);
    border-radius: 3px;
    transition: .2s;
  }
  .portfolio .menu span {
    background-color: #3696F4;
  }
  
  .menu__lineTop { transform: translateY(-10px); }
  .menu__lineMiddle {}
  .menu__lineBottom { transform: translateY(10px); }
  .menu--isOpen .menu__lineTop { transform: rotate(45deg); }
  .menu--isOpen .menu__lineMiddle { opacity: 0; }
  .menu--isOpen .menu__lineBottom { transform: rotate(-45deg); }
  
  .underline {
    width: 64px !important;
    height: 0px;
    border: solid #fff 2px;
    display: inline-block;
  }
  
  .menuContainer {
    width: 24.8vw;
    height: 100vh;
    border: 0.1vw solid #3C3939;
  }
  
  .menuContainer :hover {
    width: 28vw;
    background: url(img/bg/menu-gradation.png);
    background-size: cover;
    z-index: 20;
    transition: .4s;
  }
  
  .menuBox {
    width: 24.8vw;
    height: 100vh;
    position: relative;
  }
  
  .menuContent {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
  }
  
  .menuBox :hover { background: rgb(255, 255, 255, 0) !important; }
  
  /* スマホ（３７５）
  タブレット（７６８）サイズ用 コード*/
  @media screen and (max-width: 1030px) {
    .h1menu { font-size: 35px; }
  }
  @media screen and (max-width: 768px) {
    .menuBox, .menuContainer {
      width: 100vw;
      height: 24.8vh;
      display: block;
    }
    .menuContainer :hover { width: 100vw; }
    .menu { display: block; }
  }
  @media screen and (max-width: 375px) {
    
  }
  
  /*==============
  Footer All
  ================*/
  /* PCサイズ用コード */
  footer {
    width: 100%;
  }
  .bg-footerLogo {
    position: relative;
    top: -5rem;
    left: 47%;
    width: 68px;
    height: 87px;
    margin-top: 80px;
    background: url(img/icon/einja-footerLogo.png);
    background-size: cover;
  }
  
  .footer-logo {
    display: block;
    width: 168px;
    height: auto;
    margin: 0 auto;
  }
  .footer-lists {
    text-align: center;
  }
  .footer-lists a {
    transition: ease .5s;
  }
  .footer-lists li:hover a{
    color: #000;
  }
  
  /* スマホ（３７５）
  タブレット（７６８）サイズ用 コード*/
  @media screen and (max-width: 768px) {
    
  }
  @media screen and (max-width: 414px) {
    .bg-footerLogo {
      left: 41%;
    }
  }
  
  /*========================================*/
  /*===　INDEX.html（Topページ）のスタイル　===*/
  /*========================================*/
  
  /*==============
  Top  Index 
  ================*/
  /* H1 Einjaのスタイル */
  .T1-h1 {
    width: 275.98px;
    height: 103.63px;
  }
 
  /* Topページ  serviceセクション */
  .bg-web, .bg-creat, .bg-activ, 
  .serviceWrapper{
    display: flex;
    width: 67.01vw;
    text-align: center;
    margin: 0px 16vw 80px;
  }
  
  .serviceContainer{
    
  }
  
  /* スマホ（３７５）
  タブレット（７６８）サイズ用 コード*/
  @media screen and (max-width: 768px) {
    .serviceWrapper { display: block; }
  }
  @media screen and (max-width: 414px) {
    
  }

  /*お問い合わせフォーム*/
  
  .cp_iptxt {
	position: relative;
	width: 80%;
  padding: 40px 3%;
}

.formWrapper{
  width:43.05vw;
  background-color: #131E4C;
  border-radius: 20px;
  margin: auto;
}

.formcontainer{
	width: 35.76vw;
  padding: 29.5px 4vw;
}

.formFlame-S{
	display: inline-block;
	width: 17.13vw;
	height: 4.11vw;
}

.gap{	margin-right:1.18vw; }
.formLabel { float: left;}

.gap2{padding-top: 8px;}

.gap3{ padding-top: 15px;}

textarea {
	resize: none;
	width: 35.76vw;
	height: 93px;
  border-radius: 10px;
}

.cp_iptxt-S input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
    background: #ffff;
    border-radius: 80px;
}
.ef input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}

.cp_ipselect {
  width: 100%;
  margin: 2em auto;
  text-align: center;
  }
  .cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  }
  .cp_ipselect select::-ms-expand {
  display: none;
  }
  .cp_ipselect.cp_sl04 {
  position: relative;
  border-radius: 2px;
  border: 2px solid #ffffff;
  border-radius: 80px;
  background: #ffffff;
  }
  .cp_ipselect.cp_sl04::before {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffffff;
  pointer-events: none;
  }
  .cp_ipselect.cp_sl04 select {
  padding: 0.3em;
  }

@media screen and (max-width: 1384px) {
  .formFlame-S {
    width: 100%;
    padding-top: 10px;
  }
  .cp_iptxt-S {
    padding-top: 10px;
  }
}

@media screen and (max-width: 414px) {
  .formWrapper {
    width: 83.05vw;
  }
  .formcontainer {
    width: 75.76vw;
  }
  textarea {
    width: 75.76vw;
  }
}

/*==============
Service  Index.html 
================*/
/* PCサイズ用コード */
.S-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 156px;
}
.S-container {
  width: 25%;
  margin-bottom: 80px;
}
.S5-Sec .S-container { width: 33%; }
.T-Container {
  width: 15.2vw;
  height: 172px;
  margin: 0 auto;
}
.S-wrap + p { text-align: center; }

@media screen and (max-width: 1260px) {
  .S-wrap { padding: 0px 60px; }
  .S-container {
    width: 33%;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .S-wrap { padding: 0px 60px; }
  .S-container {
    width: 50%;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .S-wrap { padding: 0px 40px; }
  .S5-Sec .S-texBox {
    width: 194px;
  }
  .T-Container { width: 22.2vw; }
}

@media screen and (max-width: 414px) {
  .T-Container { width: 47.2vw; }
  .S-container {
    width: 100%;
    margin-bottom: 80px;
  }
  .S5-Sec .S-container { width: 100%; }
  .S-texBox {
    width: 100% !important;
  }
}
@media screen and (max-width: 375px) {

}

/*==============
Portfolio  Index.html
================*/
/* PCサイズ用コード */
.P1-Sec:after {
  content: "";
  width: 100%;
  height: 100%;
  background: ;
}
.T4-slider-container {
  padding: 0 188px;
}

/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
@media screen and (max-width: 768px) {
  .T4-slider-container {
    padding: 0;
  }
}
@media screen and (max-width: 375px) {

}
/*==============
About  Index.html
================*/
/* PCサイズ用コード */
.iframe {
  position: relative;
  width: 70vw;
  padding-top: 31.2236%;
  margin: 0 auto;
  max-width: 717px;
}
.iframe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
@media screen and (min-width: 1024px) {
  .iframe {
    padding-top: 18.2236%;
  }
  .iframe-container {
    width: 717px;
    height: 222px;
  }
}
@media screen and (max-width: 768px) {
  .aboutLinkBox { height: 30vh; }
  
}
@media screen and (max-width: 375px) {
  .aboutLinkBox { height: 15vh; }
}
/*==============
Footer  Index.html
================*/
/* PCサイズ用コード */
.T7-Box { margin: 0; }


/*=========================================*/
/*=== SERVICE.html のスタイル　==============*/
/*=========================================*/
.flex-container {
  display: flex;
  font-weight: bold;
  justify-content: center;
}
.h2-icons {
  position: relative;
  top: -10px;
  width: 80px;
  height: 70px;
  margin: 0px 20px 0 0;
}
.S-Box {
  width: 182px;
  height: 159px;
  border-radius: 70% 70% 30% 30% / 80% 80% 60% 60%;
  margin: 0 auto 20px;
}
.S-texBox {
  width: 225px;
  margin: 0 auto;
}
.S-texBox p {
  text-align: left;
}

/*===========================================*/
/*=== PORTFOLIO.htmlのスタイル　===============*/
/*===========================================*/

/*==============
Tab Bar
================*/
.tabs{
  position: relative;
  margin: 0 auto;
  text-align: left;
}

.tab-buttons {
  position: relative;
  width: 80vw;
  margin: 0 auto 80px;
}

.tab-buttons:after {
  content: "";
  position: absolute;
  top: 40px;
  display: block;
  width: 100%;
  height: 35px;
  background-color: #fff;
  border-radius: 50px;
}

.tab-buttons span{
  color: #fff;
  cursor: pointer;
  /*border-bottom: 20px solid #ddd;*/
  display:block;
  width: 25%;
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.tab-content{
  position: relative;
  top: 20px;
  display: inline-block;
  /*padding: 15px;*/
}

#lamp{
  position: absolute;
  top: 40px;
  width: 25%;
  height: 35px;
  display: block;
  border-radius: 50px;
  background-color: #3696F4;
  z-index: 1;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content1{
  left: 0;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content2{
  left: 25%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content3{
  left: 50%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content4{
  left: 75%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}


/*==============
WEB  portfolio.html
================*/
/* PCサイズ用コード */
.P-Wrap {
  display: flex;
  padding: 0 120px;
}

.P-Wrap:nth-child(2n+1) {
  background: url(img/bg/P_cloud.png) no-repeat;
  background-size: cover;
  padding: 17% 120px;
}

.P-Wrap:nth-child(2n+1) .P-Container {
  order: 1;
  padding-left: 4.7vw;
  padding-right: 0;
  color: #093569;
}

.P-Container { 
  position: relative;
  width: 50%;
  padding-right: 4.7vw; 
}

.link-container {
  position: relative;
  width: 50%;
  padding-top: 25.8611%;
}

.P-bgContainer {
  /*width: 100%;*/
  /*height: 33.5vh;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 11px 0px rgba(20,20,20,0.44);
}


.P-lists {
  position: absolute;
  bottom: 0;
}

   @media screen and (max-width: 1180px) {
    .tab-content {
      width: 100vw;
    }
    .P-wrap {
      flex-direction: column;
    }
    .P-Box {
      display: none;
    }
    .P-lists {
      display: none;
    }
   }
   @media screen and (max-width: 768px) {
    .portfolio .spaceL {
      padding-bottom: 40px;
    }
    .P-Wrap {
      flex-direction: column;
      padding: 0 120px;
    }
    .P-Container {
      width: 100%;
      margin-top: 20px;
      order: 1;
    }
    .P-Wrap:nth-child(2n+1) {
      margin-bottom: 17%;
    }
    .P-Wrap:nth-child(2n+1) .P-Container {
      padding-left: 0;
    }
    .P-bgContainer {
      width: 100%;
    }
    .link-container {
      width: 100%;
      padding-top: 54.8611%;
    }
    .P-lists {
      position: absolute;
      bottom: -30px;
    }
  }
  @media screen and (max-width: 414px) {
    .flex-container {
      position: relative;
      left: -20px;
    }
    .h2-icons {
      margin: 0;
    }
    .P-Wrap, .P-Wrap:nth-child(2n+1) {
      padding: 0 30px 80px;
      margin: 0 0 20%;
    }
    .P-lists {
      bottom: -42px;
    }
  }
    
  @media screen and (max-width: 375px) {
  
  }

/*=======================================
/*=== ABOUT.html のスタイル　==============*/
/*=======================================*/
.A2-Sec {
  font-family: 'Hiragino Kaku Gothic ProN';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.profile {
  width: 300px;
  margin: 0 auto;
  text-align: left;
}

.memberface {
  width: 112px;/*幅*/
  height: 112px;/*高さ*/
  border-radius: 50%;/*角丸*/
  position: relative;
  top: 45px;
  margin: 0 auto;
  z-index: 1;
}

.memberfacein {
  width: 100%;
  height: 100%;
}

.socialBox {
  position: absolute;
  bottom: 1vh;
  left: 15%;
}

.socialicon {
  width: 48px;/*幅*/
  height: 48px;/*高さ*/
  margin: 0 17.5px;
  display: inline-table;
}

.A-Container1 {
  width: 368px;
  height: 113px;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
}

.A-Container2 {
  width: 368px;
  height: 394px; /* 370px-56px */
  padding-top: 56px; /* memberfaceの半分 */
  margin-top: 4.6px;
  margin: 0 auto;
  position: relative;
}

.proftag {
  width: 100px;
  height: 35px;
  border: solid #ccc 1px;
  border-radius: 28px;
  margin: 16px 0;
  line-height: 35px;
  display: inline-block;
}
.A-Wrap { padding: 22px; }

.A-company{
  margin: 0 auto;
}
.A-company td{
  text-align: left;
}

/* スマホ（３７５）
   タブレット（７６８）サイズ用 コード*/
   @media screen and (max-width: 768px) {
    .A-Container1, .A-Container2 { width: 348px; }
    .A-Wrap {
      padding: 14px;
      display: block;
    }
  }
  @media screen and (max-width: 375px) {
  
  }